
body {
	background: black;
	color: white;
	margin: 0 auto;
	width:100%;
}

#app {
	position: relative;
	max-width: 95%;
	margin: 0 auto;
}

@media screen and (min-width: 800px) {
	#app {
		max-width: 90%;
	}	
}

@media screen and (min-width: 1422px) {
	#app {
		max-width: 1280px;
	}	
}


#app article,
#app dl {
	clear: both;
	margin: 0.5em 0;
}

#app ul,
#app dl {
	-webkit-margin-before:0;
	-webkit-margin-start:0;
}

article {
	margin: 1em 0;
	padding: 1em 0;
	transition: all 0.5s ease-in-out;
}

article h3 {
	margin: 1em 0 0.25em 0;
	padding: 0;
	text-align: center;
	max-height: 20em;
}



.sidebar .makers-list > li,
article h3 .maker-name {
	color: #99ffff;
}

.sidebar .actionable {
	cursor: pointer;
}

.sidebar .selected {
	font-style: italic;
}

.sidebar .makers-list > li > ul > li,
article h3 .model-name {
	color: #ffcc66;
}

#app article.hide {
	max-height: 0;
	margin:0;
	padding: 0;
	overflow: hidden;
}

#app dl dt {
	float: left;
	clear: both;
	width: 10em;
	margin: 0 0.5em 0 0;
	text-align: right;
	color: #ffff66;
}

#app dl dd {
	float: left;
	width: 16em;
	margin: 0 0 0 0.25em;
}

.sidebar {
	float: right;
}

.sidebar .makers-list > li {
	font-size: 1.25em;
	margin-bottom: 0.5em;
}

.sidebar .makers-list > li > ul > li {
	font-size: 0.8em;	
}

.main {
	float: left;
}